    
     <!--card-->
    <section id="BodyColor"   class="pt-5 container-fluid  pb-5  d-flex ">
        <div class="container">
            <div class="row justify-content-center pe-5 ps-5 text-white">
                <h1 class="text-center pt-5 pb-5 text-white fs-1">PROJECTS</h1>
                <div class="col-12 col-md-6 mb-4 pt-3">
                    <%= image_tag "card1", class: "card-img-top", alt: "colaciones" %>
                    <div class="card-body m-5 text-end">
                    <h2 class="fs-1 card-title pt-3 pe-3 ps-3 text-start">Diseño web n1</h2>
                    <p class="fs-5 mt-3 pe-3 ps-3 pt-3 text-start">Congue fermentum dignissim rhoncus elementum ac nisi,
                        proin phasellus lacinia sed faucibus mauris, taciti scelerisque nulla ornare consequat.
                    </p>
                     <%= link_to "Ver más", "#", class: " mt-3 btn-lg btn text-white btn-outline-light"  %>
                    </div>
                </div>
                
                <div class="col-12 col-md-6 mb-4 pb-5 pt-3 text-white ">
                    <%= image_tag "card2", class: "card-img-top", alt: "colaciones" %>
                    <div class="card-body m-5 text-end">
                    <h2 class="fs-1 card-title pt-3 pe-3 ps-3 text-start ">Diseño web n2</h2>
                    <p class="fs-5 mt-3 pe-3 ps-3 pt-3 text-start">Congue fermentum dignissim rhoncus elementum ac nisi,
                        proin phasellus lacinia sed faucibus mauris, taciti scelerisque nulla ornare consequat.
                    </p>
                     <%= link_to "Ver más", "#", class: " mt-3 btn-lg btn text-white btn-outline-light"  %>
                    </div>
             </div>

               <div class="row justify-content-center  mt-5 pt-5 pe-5 ps-5 text-white">
                 <div class="col-12 col-md-6 mb-4 pb-5">
                    <%= image_tag "card3", class: "card-img-top", alt: "colaciones" %>
                    <div class="card-body m-5 text-end">
                    <h2 class="fs-1 card-title pt-3 pe-3 ps-3 text-start">Diseño web n3</h2>
                    <p class="fs-5 mt-3 pe-3 ps-3 pt-3 text-start">Congue fermentum dignissim rhoncus elementum ac nisi,
                        proin phasellus lacinia sed faucibus mauris, taciti scelerisque nulla ornare consequat.
                    </p>
                     <%= link_to "Ver más", "#", class: " mt-3 btn-lg btn text-white btn-outline-light"  %>
                    </div>
                
                </div>

                <div class="col-12 col-md-6 mb-4 pb-5 text-white">
                    <%= image_tag "card4", class: "card-img-top", alt: "colaciones" %>
                    <div class="card-body m-5 text-end">
                    <h2 class="fs-1 card-title pt-3 pe-3 ps-3 text-start">Diseño web n4</h2>
                    <p class="fs-5 mt-3 pe-3 ps-3 pt-3 text-start">Congue fermentum dignissim rhoncus elementum ac nisi,
                        proin phasellus lacinia sed faucibus mauris, taciti scelerisque nulla ornare consequat.
                    </p>
                     <%= link_to "Ver más", "#", class: " mt-3 btn-lg btn text-white btn-outline-light "  %>
                    </div>
                
                </div>
            </div>
        </div>




        </div>
    </section>
